<nav class="desktop">
<div class="nav-main clearfix">
    <div class="nav-wrap">
        <a class="nav-home" href="/">
            <h1>BLOG TEMPLATE</h1>
        </a>
        <ul class="nav-site">
            <li><a href="/blog">blog</a>
            </li>
            <li><a href="/about">about</a>
            </li>
            <li><a href="/projects">projects</a>
            </li>
            <li><a href="/archives">archives</a>
            </li>
        </ul>
    </div>
</div>
</nav>
<nav class="mobile">
<div class="mobile"><!-- stupid ie7/ie6 fix -->
<div class="nav-main">
    <div class="nav-wrap">
        <a class="nav-home" href="/">
            <h1>BLOG TEMPLATE</h1>
        </a>
        <ul class="nav-site">
            <li><a href="/blog">blog</a>
            </li>
            <li><a href="/about">about</a>
            </li>
            <li><a href="/projects">projects</a>
            </li>
        </ul>
    </div>
</div>
</div>
</nav>