
<nav class="desktop">
<div class="nav-main clearfix">
    <div class="nav-wrap">
        <a class="nav-home" href="/">
            <h1>ERIC LAGERGREN</h1>
        </a>
        <ul class="nav-site clearfix">
            <li><a href="/blog">blog</a>
            </li>
            <li><a href="/about">about</a>
            </li>
            <li class="dropdown-open"><a class="dropdown-toggle" data-toggle="dropdown" href="/projects">projects</a>
                <ul class="dropdown-menu">
                    <li><a href="/projects/photos">photos</a></li>
                    <li><a href="/documents/Eric%20Lagergren%20Curriculum%20Vitae.pdf">cv/resume</a></li>
                    <li><a href="/projects/code">code</a></li>
                    <li><a href="/projects/typography">typography</a></li>
                    <li><a href="/projects/mirrors">mirrors</a></li>
                    <li><a href="/projects/pgp">pgp</a></li>
                </ul>
            </li>
            <li><a href="/archives">archives</a>
            </li>
        </ul>
    </div>
</div>
</nav>
<nav class="mobile">
<div class="mobile"><!-- stupid ie7/ie6 fix -->
<div class="nav-main">
    <div class="nav-wrap">
        <a class="nav-home" id="cccp" href="/">
            <h1>ERIC LAGERGREN</h1>
        </a>
        <ul class="nav-site">
            <li><a href="/blog">blog</a>
            </li>
            <li><a href="/about">about</a>
            </li>
            <li><a href="/projects">projects</a>
            </li>
        </ul>
    </div>
</div>
</div>
</nav>
<nav class="bmenu">
<div class="bmenu"><!-- stupid ie7/ie6 fix -->
<div class="nav-main">
    <div class="nav-wrap">
        <a class="nav-home" id="cccp" href="/">
            <h1>ERIC LAGERGREN</h1>
        </a>
        <ul class="nav-site">
            <li><a href="/blog">blog</a>
            </li>
            <li><a href="/about">about</a>
            </li>
            <li><a href="/projects">projects</a>
            </li>
        </ul>
    </div>
</div>
</div>
</nav>
  <nav class="mobile-nav">
    <div class="menu-bars"></div>
  </nav>
<noscript><style>#message {display:block;}</style></noscript>
<div id="message"><a href="/message">Your browser isn't supported!! More info...</a></div>