    <section class="contact-buttons">
        <div class="social-image-icon"><a class="round-border" href="https://twitter.com/{{ site.author.twitter }}" target="_blank"><i class="fa fa-twitter"></i></a>
        </div>
        <div class="social-image-icon"><a class="round-border" href="https://www.linkedin.com/{{ site.author.linkedin }}" target="_blank"><i class="fa fa-linkedin"></i></a>
        </div>
        {% if site.author.instagram %}
        <div class="social-image-icon"><a class="round-border" href="https://instagram.com/{{ site.author.instagram }}" target="_blank"><i class="fa fa-instagram"></i></a>
        {% endif %}
        <div class="social-image-icon"><a href="https://www.github.com/{{ site.author.github }}" class="round-border" target="_blank"><i class="fa fa-github"></i></a>
        </div>
    </section>